body {
  font-family: 'Cormorant Garamond';
  background-color: #ddd9d0;
  font-size: 18px;
  border-left: 10px solid #CD212A;
  border-right: 10px solid #008C45;
}

.theme-wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
}

/*******************************************
  HEADER
*******************************************/
header h1 {
  font-size: 42px;
  font-family: 'Beau Rivage';
  text-align: center;
  padding: 20px 0px;
}

header img {
  margin: 0 auto;
  width: 180px;
  display: block;
  opacity: 0.9;
  padding-bottom: 20px;
}

/*******************************************
  MENU
*******************************************/
.section {
  padding: 20px 0px;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-family: 'Beau Rivage';
  padding-bottom: 10px;
}

.menu-item {
  padding-bottom: 10px;
  line-height: 1.2;
}

.is-flex {
  display: flex;
  justify-content: space-between;
}

.is-flex-75 {
  flex-basis: 75%;
}

/*******************************************
  FOOTER
*******************************************/
footer {
  padding-bottom: 20px;
}

.spicy:before {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
}

/*******************************************
********************************************
  MEDIA QUERIES
********************************************
*******************************************/

@media (min-width:768px) {
  body {
    border-left: 40px solid #CD212A;
    border-right: 40px solid #008C45;
  }
}

@media (min-width:1200px) {
  body {
    border-left: 80px solid #CD212A;
    border-right: 80px solid #008C45;
  }
  header h1 {
    font-size: 60px;
  }
}
